p {
    background: #ffd9d9;
    border-bottom: 4px solid red;
    padding-top: 15px;
    margin: -10px;
    /* display: none; */
    width: auto;
    height: 35px;
    text-align: center;
    vertical-align: center;
}

#msg {
    color: #0000ff;
    font-weight: bold;
    font-size: 12px;
}

p.error {
    color: #ff1111;
    font-weight: bold;
    font-size: 12px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
}